# Node Environment
NODE_ENV=development

# Server Port
APP_PORT=8000

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=blog_hono
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/blog_hono?schema=public&connection_limit=10"

# JWT Secret
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
